{% extends "base.html" %}
{% load i18n bars %}

{% block content %}
<h1>{% trans "New Iteration" %}</h1>

<div class="row-fluid">

<div class="span12">
    <div class="sample">
    <a id="hide" style="display: none" href="#" onClick="$('.samplecontent').fadeOut(); $('#hide').hide(); $('#show').show()">{% trans "Hide" %}</a>
    <a id="show" href="#" onClick="$('.samplecontent').fadeIn(); $('#show').hide(); $('#hide').show()">{% trans "Show example" %}</a>
    <pre class="samplecontent" style="display: none">
END 30/11/2011

* User: TOTALHOURSh
 * PROJECT: [HOURSh|PERCENTAGE]

* Edulix: 56h
 * vpod.tv 39h
 * web 8h
 * empresa 4h
 * otros 4h
 * iteracion 1h

* danigm: 56h
 * vpod.tv 60%
 * otros 40%
    </pre>
    </div>
</div>

<div class="span10">
    {% if error %}
    <div class="error"> {{ error }} </div>
    {% endif %}

    <form method="POST" action="">
        {% csrf_token %}
        <textarea class="bigtextarea" name="input">
            {{ data }}
        </textarea>
        <br/>
        <input class="btn" type="submit" value="{% trans "Send" %}"/>
    </form>
</div>

</div>

{% endblock %}

